# Your Apple email address (e.g. apple@example.com)
APPLE_ID=

# The bundle identifier of your app (e.g. com.example.myApp)
APP_IDENTIFIER=works.hbg.MittHelsingborg

# App-specific password used for uploads (generate at https://appleid.apple.com/account/manage)
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=

# Main scheme to build
GYM_SCHEME=MittHelsingborg

# App Store Connect Team ID (e.g. 123456789)
ITC_TEAM_ID=

# Path to main project file (e.g. MyApp.xcodeproj, relative to /ios)
MAIN_PROJECT="Mitt Helsingborg.xcodeproj"

# Path to main workspace (e.g. MyApp.xcworkspace, relative to /ios)
MAIN_WORKSPACE=MittHelsingborg.xcworkspace

# Apple ID assigned to the app (e.g. 1234567890, find under App Store Connect -> <your app> -> App Information, https://appstoreconnect.apple.com/apps/)
PILOT_APPLE_ID=

# Developer Portal Team ID (e.g. ABCDE1FGH2)
TEAM_ID=


# The following env variables are only needed for CI systems

# Base64-encoded contents of production certificate .p12 file (https://docs.github.com/en/actions/guides/installing-an-apple-certificate-on-macos-runners-for-xcode-development)
# BUILD_CERTIFICATE_BASE64=

# User-generated password to use for temp keychain
# CERT_KEYCHAIN_PASSWORD=

# Password for APPLE_ID account
# FASTLANE_PASSWORD=

# Fastlane session token (generate with `fastlane spaceauth -u <apple_id>`, https://docs.fastlane.tools/best-practices/continuous-integration/)
# FASTLANE_SESSION=

# Password to decode BUILD_CERTIFICATE_BASE64
# P12_PASSWORD=

# User-generated random string; changing it forces a rebuild of the pods derived data cache on the next build
# PODS_DD_PREFIX=
